<h1>Stupid Coaching</h1>

<label for="">Ask your coach anything:</label>
<form action="/answer" data-turbo="false">
  <input id="box" type="text" name="question" value="<%= params[:question] %>">
  <input id="butt" type="submit" value="Ask!">
</form>
